.personalInfoContainer > *:not(:first-child) {
  margin-top: 32px;
}

.premiumCard {
  padding: 24px;
  background-color: #008b5d;
  color: var(--background);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.premiumCard h4 {
  margin-bottom: 4px;
}

.premiumCardLogo {
  padding: 12px;
  background-color: var(--background);
  border-radius: 1000px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button {
  background-color: var(--primary);
  border: 0px;
  border-radius: 4px;
  padding: 9px;
  color: var(--background);
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  cursor: pointer;
  width: 170px;
  transition: all 100ms ease-in-out;
}

.button:hover {
  background-color: var(--primary-btn-hover);
}

.button:active {
  width: 150px;
  transition: all 100ms ease-in-out;
  background-color: var(--primary-btn-active);
}

.deleteAccount {
  padding: 16px;
  border: var(--border-color) solid 1px;
  border-radius: 8px;
}

.deleteBtn {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #f25773;
  margin-top: 16px;
  cursor: pointer;
  width: fit-content;
}
